/*------------------------------------------------------------------------------
//	$Id: layerchanger.css,v 1.4 2014/02/01 16:17:15 wolf Exp wolf $
//----------------------------------------------------------------------------*/

.olControlLayerChanger {

	right:	0px;
	top:	40px;
    bottom: 80px;
}

.olControlLayerChanger table {

	font-family: sans-serif;
	font-size: smaller;
}

/*.olControlLayerChanger th, .olControlLayerChanger td {

	border: 1px gray dotted;
}*/

.olControlLayerChanger .layersDiv {

	background-color: #dddddd;
	border: 2px ridge gray;
}

.olControlLayerChanger .maximizeDiv, .olControlLayerChanger .minimizeDiv {

	top:	2px;
	right:	0px;
}

.olControlLayerChanger th {

	text-align: left;
}

.olControlLayerChanger input, .olControlLayerChanger button {

	cursor: pointer;
}

.olControlLayerChanger th.hidden:before {

	/*content: '\2192';	/* Pfeil */
	content: '\25B6\00a0';	/* Dreieck */
}

.olControlLayerChanger th.visible:before {

	/*content: '\2193';	/* Pfeil */
	content: '\25BC\00a0';	/* Dreieck */
}

/*------------------------------------------------------------------------------
//	$Id: layerchanger.css,v 1.4 2014/02/01 16:17:15 wolf Exp wolf $
//----------------------------------------------------------------------------*/
